.done
  .done__title
    %h2 
      %b 会員登録完了!
  .done-main
    .done-main__title
      %p
        %b
          #{current_user.last_name} #{current_user.first_name}様
          %br/
          会員登録ありがとうございます。
      %p.sub-title
        Create_shop
        %br/
        でのお買い物をどうぞお楽しみください。
    .done_link
      = link_to "ストアトップへ",root_path(@user)
    %br/
    .done_link
      = link_to "マイページへ",users_path
      