// Place all the styles related to the user/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
.cart-product-title {
	margin-top: 15px;
	padding-left: 15px;
	font-size: 25px;
	background-color: #F5F5F5;
	width: 150px;
	padding: 10px;
	margin-bottom: 20px;
	font-family: 'Pangolin', cursive;
}
.cart-product-price {
	margin-top: 15px;
	font-size: 20px;
	width: 150px;
	padding: 10px;
	font-family: 'Pangolin', cursive;
}
.cart-product-prices {
	margin-top: 15px;
	font-size: 25px;
	padding: 10px;
	font-family: 'Pangolin', cursive;
}
.cart-product {
	margin-top: 50px;
}
.cart-botton {
	margin-top: 50px;
}